<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="skill">
      <h2 data-cy="skillDetailsHeading"><span>Skill</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ skill.id }}</span>
        </dd>
        <dt><span>Title</span></dt>
        <dd>
          <span>{{ skill.title }}</span>
        </dd>
        <dt><span>Description</span></dt>
        <dd>
          <span>{{ skill.description }}</span>
        </dd>
        <dt><span>Category</span></dt>
        <dd>
          <span *ngFor="let category of skill.categories; let last = last">
            <a [routerLink]="['/category', category?.id, 'view']">{{ category.categoryName }}</a
            >{{ last ? '' : ', ' }}
          </span>
        </dd>
        <dt><span>Employee</span></dt>
        <dd>
          <span *ngFor="let employee of skill.employees; let last = last">
            <a [routerLink]="['/employee', employee?.id, 'view']">{{ employee.email }}</a
            >{{ last ? '' : ', ' }}
          </span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button *jhiHasAnyAuthority="'ROLE_ADMIN'" type="button" [routerLink]="['/skill', skill.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
